<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skill</title>
</head>
<body>
    <a href="/skills">All Skills</a>
    <h1>Skill: <%= skill.skill %></h1>
    <h3>Level: <%= skill.level %></h3>
</body>
</html>